<div class="container" id="gallery">
    <div class="block">
        <div class="text"><p>Цей сайт створений трьома ентузіастами для полегшення виконання лабораторних робіт з веб програмування. Нашою метою було зробити те, чим би нам самим було зручно користуватись. Якщо є бажання додати ще якусь функціональність, то звертайтеся за електроною поштою example@gmail.com або example2@ukr.net</p></div>
    <h1 class="textAlignCentr mainh1">Галерея</h1>
        <div>  
            
            <div class="functionalnist">
                <div class="text"><div class="textAlignCentr"><h2>{{articles[0].name}} </h2></div><p>{{articles[0].opys}}</p></div>
                <div class="text"><div class="textAlignCentr"><h2>{{articles[1].name}} </h2></div><p>{{articles[1].opys}}</p></div>
                <div class="text"><div class="textAlignCentr"><h2>{{articles[2].name}} </h2></div><p>{{articles[2].opys}}</p></div>
            </div>
        </div>
    </div>
    </div>
    <div class="differ"></div>

<div class="container" id="functions">
    <div class="block">
        <h1 class="mainh1">Функції</h1>    
        <div class="Teacher">
            
            <div class="text">
                <div><p>Доктор технічних наук, доцент, доцент кафедри мережевих та інтернет технологій.  Вища освіта: Національний університет оборони України. Магістр військового управління.</p></div>
            </div>
        </div>
    
    </div>
    
    </div>