<div class="container" id="galler">
    <div class="block">
        <div class="text"><h2>Цей сайт створений трьома ентузіастами для полегшення виконання лабораторних робіт з веб програмування. Нашою метою було зробити те, чим би нам самим було зручно користуватись. Якщо є бажання додати ще якусь функціональність, то звертайтеся за електроною поштою example@gmail.com або example2@ukr.net</h2></div>
        <div class="line"></div>
        <h1 class="textAlignCentr mainh1">Галерея</h1>
        <div class="line"></div>
        <div class="gallery">   
            <div class="one_article">
                <img class="img_gall" src="{{articles[0].image}}">
                <div class="text"><h2>{{articles[0].name}}</h2></div>
                <div class="text"><p>{{articles[0].opys}}</p></div>
                <div class="{{visible[0]}}"><div class="text">{{articles[0].full_opys}}</div></div>
                <img class="button_img_gall" (click)="changeVisible(0)" src="{{opened[0]}}">
            </div>
            <div class="one_article">
                <img class="img_gall" src="{{articles[1].image}}">
                <div class="text"><h2>{{articles[1].name}}</h2></div>
                <div class="text"><p>{{articles[1].opys}}</p></div>
                <div class="{{visible[1]}}"><div class="text">{{articles[1].full_opys}}</div></div>
                <img class="button_img_gall" (click)="changeVisible(1)" src="{{opened[1]}}">
            </div>
            <div class="one_article">
                <img class="img_gall" src="{{articles[2].image}}">
                <div class="text"><h2>{{articles[2].name}}</h2></div>
                <div class="text"><p>{{articles[2].opys}}</p></div>
                <div class="{{visible[2]}}"><div class="text">{{articles[2].full_opys}}</div></div>
                <img class="button_img_gall" (click)="changeVisible(2)" src="{{opened[2]}}">
            </div>
        </div>
    </div>
    </div>
    
<div class="differ"></div>
<!-- 
<div class="container" id="functions">
    <div class="block">
        <h1>Функції</h1>
        <form (submit)="onSubmit()">      
            <input name="name" type="text" id="inputName" class="input" placeholder="Your Name" />   
            <input name="email" type="text" id="inputEmail" class="input" placeholder="Your Email" />
            <textarea name="text" class="input" id="inputText" placeholder="Your Comment"></textarea>
            <input type="submit" value="SUBMIT">
            <div class="answer {{visibility}}"><div class="text"><p>Дякуємо за Ваше повідомлення, його можна переглянути на іншій сторінці</p></div></div>

        </form>
        
    </div>
    
</div> -->
<!-- SASS
form
        max-width: 420px
        margin: 40px

  .input
    color: $main1
    font-family: Arial, sans-serif
    font-size: 18px
    border-radius: 2px
    line-height: 22px
    background-color: transparent
    border: 3px solid $main2
    transition: all 0.3s
    padding: 13px
    margin-bottom: 15px
    width: 100%
    box-sizing: border-box
    outline: 0

    &:focus
      border: 3px solid $main1

  textarea
    height: 150px
    line-height: 150%
    resize: none

  [type="submit"]
    width: 100%
    background: $main2
    border-radius: 2px
    border: 0
    cursor: pointer
    color: $realwhite
    font-size: 24px
    padding-top: 10px
    padding-bottom: 10px
    transition: all 0.3s
    margin-top: -4px
    font-weight: 700
    margin-bottom: 15px
-->