<div class="container" id="gallery">
    <div class="block">
    <h1 class="textAlignCentr mainh1">Галерея</h1>
        <div>  
            <div class="text"><p>Цей сайт створений трьома ентузіастами для полегшення виконання лабораторних робіт з веб програмування. Нашою метою було зробити те, чим би нам самим було зручно користуватись. Якщо є бажання додати ще якусь функціональність, то звертайтеся за електроною поштою example@gmail.com або example2@ukr.net</p></div>
            <div class="functionalnist">
                <div class="text"><div class="textAlignCentr"><h2>Стаття0 </h2></div><p>Ви не знайдете місця на сайті, де не буде вказано про ближній Deadline</p></div>
                <div class="text"><div class="textAlignCentr"><h2>Стаття1 </h2></div><p>На сторінці з лабораторною роботою ви можете прочитати всю інформацію про неї</p></div>
                <div class="text"><div class="textAlignCentr"><h2>Стаття2 </h2></div><p>Чудовий, продуманий дизайн сайту, на якому весело та приємно знаходитись</p></div>
                <div class="text"><div class="textAlignCentr"><h2>Стаття3 </h2></div><p>Дуже легко можна орієнтуватись в просторі лабораторних робіт</p></div>
            </div>
        </div>
    </div>
    </div>
    <div class="differ"></div>

<div class="container" id="functions">
    <div class="block">
        <h1 class="mainh1">Функції</h1>    
        <div class="Teacher">
            
            <div class="text">
                <div><p>Доктор технічних наук, доцент, доцент кафедри мережевих та інтернет технологій.  Вища освіта: Національний університет оборони України. Магістр військового управління.</p></div>
            </div>
        </div>
    
    </div>
    
    </div>