<app-menu></app-menu>
<app-title></app-title>
<div class="container" id="userslist">
    <div class="block">
        <div class="text"><div class="textAlignCentr"><h2>Користувач1 </h2></div><p>блабалба</p></div>
        <div class="text"><div class="textAlignCentr"><h2>Користувач2 </h2></div><p>блабалба</p></div>
        <div class="text"><div class="textAlignCentr"><h2>Користувач3 </h2></div><p>блабалбабал</p></div>
        <div class="text"><div class="textAlignCentr"><h2>Користувач4 </h2></div><p>блабла</p></div>
    </div>
</div>
<app-footer></app-footer>