<app-menu></app-menu>
<app-title></app-title>
<div class="container" id="userslist">
    <div class="block">
        <h1>Список користувачів</h1>
        <div class="line"></div>
        <div class="text"><h2>User1 </h2><p> user1@ukr.net </p><p> Щось там від user1 </p></div>
        <div class="text"><h2>User2 </h2><p> user2@ukr.net </p><p> Ще щось там від user2 </p></div>
        <div class="text"><h2>User3 </h2><p> user3@ukr.net </p><p> І знову щось від user3  </p></div>
        <div class="text"><h2>User4 </h2><p> user4@ukr.net </p><p> Якась інформація від user4 </p></div>
        
    </div>
</div>
<app-footer></app-footer>